@page
@model Stx.Web.JP.Pages.Candidate.MyApplicationsModel
@{
}

<section class="min-sec">
    <div class="container">
        <partial name="_StatusMessage" for="StatusMessage" />

        <div class="row">
            <partial name="_LeftMenuProfile" for="PageKey" />

            @if (Model.PageStatus.IsDisplyErrorBanner)
            {
                <div class="col-md-9">
                    <partial name="_StatusBanner" for="PageStatus" />
                </div>
            }
            else
            {
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex bd-highlight ">
                                <h4 class="card-title flex-grow-1" id="repeat-form">My Applications</h4>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                @{

                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>