@page
@model Stx.Web.JP.Pages.Blog.MainModel
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims;
@{
}


<section class="min-sec">
    <div class="container">
        <partial name="_StatusMessage" for="StatusMessage" />

        <div class="bg-white small ps-1">

            <h2>Claims</h2>
            
                @foreach (var claim in HttpContext.User.Claims)
                {                    
            <div class="row">
                    <div class="col-1">
                        @claim.Type
                    </div>
                    <div class="col-10">
                        @claim.Value
                    </div>
            </div>
                }

            <h2>Properties</h2>
            <dl>
                @foreach (var prop in (await HttpContext.AuthenticateAsync())?.Properties?.Items)
                {
                    <dt>@prop.Key</dt>
                    <dd>@prop.Value</dd>
                }
            </dl>
        </div>
    </div>
</section>